.note-app {
  display: grid;
  grid-gap: 20px;
  padding: 20px;
}

.Container {
  width: 700px;
  margin: auto;
}

.note-app-title {
  text-align: center;
}

.note-form {
  display: grid;
  /* grid-template-columns: 1fr auto; */
  grid-gap: 10px;
}

.note-input {
  width: 100%;
  padding: 10px;
}

.note-button {
  padding: 10px 20px;
}

/* .note-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  width: 45%;
  margin: auto;
  column-gap: 0px;
  row-gap: 12px;
  overflow-y: scroll;
} */
/* .scroll {
  overflow-y: scroll;
  height: 75vh;
} */

.note {
  border: 1px solid #ddd;
  padding: 20px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 200px;
  border-radius: 22px;
  padding: 25px;
}

.flexBoxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* overflow-y: scroll;
  height: 83vh; */
}

.note-title {
  margin: 0;
}

.note-content {
  margin: 10px 0;
}

.note-actions {
  display: flex;
  justify-content: flex-end;
}

.note-action-button {
  margin-left: 10px;
}

.U_flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
}

.filter-icon {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.filter-icon::after {
  content: '';
  color: #ccc;
  width: 100%;
  height: 5px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.filter-icon:hover .dropdown-content {
  display: block;
}

button.note-action-button.edit-button {
  border: 1px solid black;
  background: none;
  color: blue;
  border-radius: 5px;
  cursor: pointer;
}

button.note-action-button.delete-button {
  border: 1px solid black;
  background: none;
  color: blue;
  border-radius: 5px;
  cursor: pointer;
}

button.note-button {
  margin: 0px 5px 0 0;
}

.bg-today {
  background-color: #0e7bff;
}

.bg-tomrrow {
  background-color: rgba(0, 122, 255, .35);
}

input[type="search"] {
  width: 260px;
  border: 1px solid #555;
  display: block;
  padding: 15px 4px 15px 11px;
  margin: auto;
  border-radius: 25px;
}

input.search {
  padding: 10px 37px 10px 17px;
  border-radius: 20px;
}

.buttonFlex {
  display: flex;
  margin-top: 50px;
}

button.note-button.blue-button {
  border: 1px solid #007aff;
  background: #007aff;
  color: #fff;
  border-radius: 5px;
}

button.note-button.white-button {
  background-color: #e4e4e4;
  border-color: #e4e4e4;
  border: 1px solid #7b849e;
  color: #7b849e;
  border-radius: 5px;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 999;
}

.adddetail button {
  cursor: pointer;
  border: 1px solid #babfc3;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
  padding: 9px 21px;
  font-size: 40px;
  position: sticky;
}

.adddetail {
  display: flex;
  justify-content: flex-end;
  /* transform: translate(-29%, -100%); */
  position: sticky;
}

.u_content-header {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;
  border-radius: 5px 5px 0 0;
  height: 60px;
  border-bottom: 1px solid #e8eaf2;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discription {
  width: 650px;
  margin: auto;
}

.u_content-header h5 {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.u_btn__white {
  border: 1px solid #7b849e;
  color: #7b849e;
}

.u_btn__smallBtn {
  padding: 8px 10px;
}

.u_btn {

  border-radius: 3px;
  cursor: pointer;
  transition: all 1.1s cubic-bezier(.19, 1, .22, 1);
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.u_btn__white {
  border: 1px solid #7b849e;
  color: #7b849e;
}

.u_content-header .u_btn {
  min-width: 75px;
}

.u_btn.u_text-c {
  text-transform: capitalize;
}

.u_btn__blue {
  border: 1px solid #007aff;
  background: #007aff;
  color: #fff;
  width: 100px;
}

.u_btn__smallBtn {
  padding: 9px;
  color: #fff;
}

.u_ml-10,
.u_mx-10 {
  margin-left: 10px;
}

.u_btn__white {
  background: #fff;
  color: #202223;
  width: 100px;
}

.u_flex {
  display: flex;
  border-top: 1px solid #e8eaf2;
}

.u_flexButton {
  display: flex;
  justify-content: end;
  border-top: 1px solid #e8eaf2;
  padding: 10px 16px 10px 0px;
}

.discription {
  border: 1px solid #e8eaf2;
  background-color: #fff;
  border-radius: 5px;
}

.u_mb-20 {
  margin: 15px;
}

.u_input {
  position: relative;
}

.u_input label span {
  color: #ff6961;
}

.u_input input {
  color: #73788b;
  padding: 16px 18px;
  border: 1px solid #d6d9e5;
  border-radius: 5px;
  width: 94%;
  outline: none;
  appearance: none;
}

.u_input label {
  color: #73788b;
  position: absolute;
  left: 0;
  transform: translate(13px, -50%);
  transition: .2s linear;
  background-color: #fff;
  padding: 2px 6px;
  pointer-events: none;
  top: 0;
}

.u_row {

  margin-right: 10px;
  margin-left: -10px;
}

.u_col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 10px;
}

textarea {
  width: 91%;
  padding: 16px 18px;
  border: 1px solid #d6d9e5;
  border-radius: 5px
}

p.error-message {
  color: red;
}

.u_ml-10,
.u_mx-10 {
  margin-left: 10px;
}

.ql-editor {
  box-sizing: border-box;
  line-height: 1.42;
  outline: none;
  overflow-y: auto;
  padding: 12px 15px;
  tab-size: 4;
  -moz-tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: 100px;
}


.no-data p {
  font-size: 24px;
  text-align: center;
}

.no-data {
  text-align: center;
}

.no-data img {
  width: 30%;
}